*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    padding: 0 150px;
}

header {
    background-color: #151D3D;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}




header .left, header .right {
    display: flex;
}

header .logo {
    width: 150px;
    margin-right: 15px;
}

header ul li {
    display: inline-block;
}

header .left ul li a, header .right ul li a{
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
}


header .right ul li a {
    padding: 0 10px;
}


header .right .login {
    color: #AFCD60;
    font-weight: 600;
}

header .left .active {
    color: #A13352;
    font-weight: 600;
}




/* header section end  */



/* banner section start  */
.banner {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/beach1.jpg");
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner p {
    padding-top: 80px;
    font-size: 70px;
    color: #000000d6;
    font-weight: 100;
}

.banner h3 {
    color: #000000;
    font-weight: 800;
    font-size: 26px;
    padding-top: 30px;
}


.banner form {
    background-color: #5E317A;
    height: 124px;
    width: 80%;
    padding: 0 10px;
    position: absolute;
    top: 79%;
    padding-bottom: 15px;
}

.banner form button {
    background-color: #513471;
    border: none;
    /* padding: 8px 15px; */
    width: 100px;
    height: 30px;
    margin-right: 1px;
    border-radius: 2px;
    color: #fff;
}

.banner form .active {
    background-color: #FF2C49;
}

.banner form input {
    margin: 10px 0;
    height: 36px;
    width: 200px;
    border: none;
    padding: 0 10px;
    
}

.banner form .date {
    width: 150px;
}

.banner form select {
    height: 36px;
    width: 200px;
    border: none;
}

.banner form label {
    display: none;
}

.banner form .type {
    background-color: #5E317A;;
    color: #fff;
    font-size: 15px;
    width: 170px;
    margin-right:10px;
}

.banner form span {
    background-color: #fff;
    padding: 7px 6px 11px 6px;
    color: #575656;
    
}

.banner form .pass {
    padding: 8px 6px 10px 6px;
}

.banner form .fa-repeat {
    color: #A9D8FA;
}

.banner form .cal {
    width: 100px;
    margin-right: 0;
}

.banner form .search {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #FD566B;
    text-align: center;
    color: #fff;
    margin-left: 25px;
    position: absolute;
    top: 1%;
    font-size: 18px;
}


.fa-repeat {
   margin: 0 10px;
}

.banner form a {
    color: #fff;
    font-size: 15px;
    border-bottom: 2px solid #fff;
    margin-right: 15px;
}

.banner form .blue {
    color: #B1A8D3;
    border: none;
}

.fa-suitcase-rolling,.fa-ticket,.fa-square {
    color: #fff;
}




/* banner section end  */


/* fun section start  */
.fun {
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/mountain.jpg");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.fun h2 {
    padding: 40px;
}

.fun .fun-container {
    display: flex;
    justify-content: space-between;
}

.fun .fun-container div {
    background-color: #0000006a;
    text-align: center;
    width: 180px;
    height: 180px;
    padding-top: 25px;
}

.fun .fun-container .icon{
    font-size: 50px;
    padding: 10px;
}

.fun .fun-container div p {
    padding: 5px;
}
/* fun section end  */


/* travel section start  */
.travel {
    background-image:linear-gradient(rgba(71,60,100,0.9), rgba(71,60,100,0.9)), url("../img/cloud-plane.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}


.travel .travel-container {
    position: absolute;
    text-align: center;
    right: 15%;
    top: 30%;
}

.travel .travel-container h2  {
    padding-bottom: 30px;
    
}

.travel .travel-container p {
    padding-bottom: 25px;
    line-height: 25px;
    text-align: center;
}

.travel .travel-container input {
    background-color: transparent;
    border: 2px solid #fff;
    width: 550px;
    height: 40px;
    padding-left: 10px;
    margin-right: 15px;
}

.travel .travel-container input::placeholder {
    color: #fff;
}

.travel .travel-container button {
    width: 150px;
    height: 40px;
    color: rgba(52,39,83);
    font-size: 16px;
}
/* travel section end  */


/* destination section start  */
.destinations {
    background-color: #1F172F;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.destinations h2 {
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.destinations ul {
    display: grid;
    grid-template-columns: repeat(4,287px);
    grid-template-rows: 350px 350px;
    gap: 20px;
}

.destinations ul li {
    background-color: #fff;
    border-radius: 3px;
    text-align: justify;
}
.destinations ul li img {
    width: 100%;
    height: 200px;
    padding: 4px;
}

.destinations ul li h4, .destinations ul li p{
    margin: 20px 30px;
    font-size: 15px;
}

.destinations ul li p {
    color: gray;
}
/* /destination section end  */


/* estimate section start  */
.estimate {
    background-color:#684CAD;
    width: 100%;
    height: auto;
    padding: 60px 150px;
    color: #fff;
    position: relative;
}

.estimate h1 {
    font-size: 30px;
    font-weight: 500;
}

.estimate p{
    position: relative;
    padding-bottom: 35px;
}
.estimate p::after {
    content: ' ';
    display: block;
    width: 60px;
    height: 1.5px;
    background-color: #fff;
    position: absolute;
    top: 30px;
}

.estimate input,.estimate select {
    width: 190px;
    height: 40px;
    margin-right:15px;
    padding: 0 15px;
}

.estimate option:checked{
    color: rgb(246, 250, 0);
    background-color: rgb(5, 26, 1);
  }

.estimate button {
    background-color: #EE8C09;
    border: none;
    width: 150px;
    height: 39px;
    font-weight: 600;
}

.estimate img {
    bottom: 0;
    right: 0;
    width: 300px;
    height: 248px;
    position: absolute;
}

/* /estimate section end  */

.blog {
    text-align: center;
    padding-top: 40px; 
}

.blog h1 {
    padding-bottom: 20px;
}

.blog p {
    width: 80%;
    margin: auto;
    color: #575656;
}
.blog-container {
    padding-top: 45px;
    display: flex;
}

.blog-container img {
    width: 180px;
    height: 180px;
}

.blog-container .left-side,.blog-container .right-side {
    display: flex;
    
}

.blog .blog-container .left-container h3,.blog .blog-container .left-container p {
    text-align: left;
    width: 100%;
} 

.blog-container .left-container {
    margin-left: 25px;
    position: relative;
}

.blog .blog-container .left-container p {
    margin-bottom: 15px;
    
}

.blog .blog-container .left-container h3::after {
    content: ' ';
    display: block;
    width: 50px;
    height: 3px;
    background-color: red;
    position: absolute;
    top: 34%;
    
}

.blog .blog-container .left-container .heading::after {
    content: ' ';
    display: block;
    width: 50px;
    height: 3px;
    background-color: blue;
    position: absolute;
    top: 34%;
    
}

.blog .blog-container .left-container h3 {
    margin-bottom: 30px;
}

